.experience-card {
  position: relative;
  background-color: #3b4353;
  border-radius: 5px;
  height: 100%;
  transition: 0.2s;
  cursor: pointer;
  overflow: hidden;
}

.experience-card-wrapper:hover .experience-card {
  background-color: #474f63;
}


.experience-card-top,
.experience-card-bottom {
  position: relative;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.experience-card-top>h2 {
  text-align: center;
  font-weight: 700;
  margin: 0 30px;
  font-size: 22px;
  color: white;
  text-decoration: none;
  z-index: 1;
}

.experience-card.flip .experience-card-top>h2 {
  z-index: initial;
}

.image-wrapper {
  position: absolute;
  bottom: -50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  -webkit-box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.25);
}

.experience-card-bottom {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  height: calc(100% - 150px);
  color: white;
  padding: 65px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 1;
  transition: opacity 0.5s;
}

.experience-card.flip .experience-card-bottom {
  opacity: 0;
}

.experience-card-bottom h2 {
  margin: 0;
  opacity: 1;
  transition: opacity 0.5s;
}

.experience-card.flip .experience-card-bottom h2 {
  opacity: 0;
}

.experience-card-bottom h3 {
  margin: 20px 0;
  font-size: 18px;
  opacity: 1;
  transition: opacity 0.5s;
}

.experience-card.flip .experience-card-bottom h3 {
  opacity: 0;
}

.experience-card-bottom ul {
  list-style-type: disc;
  text-align: left;
  opacity: 1;
  transition: opacity 0.5s;
}

.experience-card.flip .experience-card-bottom ul {
  opacity: 0;
}

.experience-card-bottom li {
  font-size: 16px;
  opacity: 1;
  transition: opacity 0.5s;
}

.experience-card.flip .experience-card-bottom li {
  opacity: 0;
}

.experience-card-tech {
  margin-top: 20px;
}

.experience-card-tech>ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: -7px;
  margin-left: -7px;
}

.experience-card-tech>ul>li {
  font-size: 12px;
  font-weight: 600;
  margin-top: 7px;
  margin-left: 7px;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: rgb(94, 106, 128);
}

.experience-bg {
  position: absolute;
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 100%;
}

.logo-bg {
  border-radius: 50%;
}

.company-logo {
  max-width: 150px;
  z-index: 1;
  pointer-events: none;
}

.experience-card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform: rotateY(0deg);
}

.experience-card.flip {
  transform: rotateY(180deg);
}

.experience-card.flip img {
  transform: rotateY(180deg);
}

.experience-card-back h2,
.experience-card-back h3,
.experience-card-back ul {
  position: absolute;
  transition: transform 0.8s;
  transform: rotateY(180deg);
  height: 100%;
  opacity: 0;
}

.experience-card.flip .experience-card-back h2,
.experience-card.flip .experience-card-back h3,
.experience-card.flip .experience-card-back ul {
  animation: fadeIn 0.1s ease-in-out forwards;
  animation-delay: 0.1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.experience-card-back .titleback {
  top: 192px;
  left: 30px;
}

.experience-card-back .companyback {
  top: 43px;
  left: 164px;
  transform: rotateY(180deg);
  font-size: 22px;
}

.experience-card-back h3 {
  top: 259px;
  left: 139px;
  font-size: 18px;
}

.experience-card-back .kasa h3 {
  left: 112px;
}

.experience-card-back .ohmyfood h3 {
  left: 154px;
}

.experience-card-back ul {
  top: 326px;
  left: 30px;
  font-size: 16px;
}

.experience-card-back .link-container {
  position: absolute;
  transform: rotateY(180deg);
  top: 417px;
  left: -80px;
  width: 100%;
}

.experience-card-back .link-container .git {
  width: 10%;
}

.experience-card-back .link-container .internet {
  width: 15%;
}

.experience-card-back .custom-link {
  margin: 0 30px;
  text-decoration: none;
  width: 100%;
}

.experience-card-back .companyback {
  left: 125px;
}

.companyback.booki {
  left: 165px;
}

.companyback.kasa {
  left: 170px;
}


@media screen and (max-width: 700px) {
  .experience-card-bottom {
    padding: 65px 15px 20px 15px;
  }

  .backcontent-container.ohmyfood ul {
    top: 300px !important;
    left: 78px;
    font-size: 14px;
  }

  .backcontent-container.kasa ul {
    top: 300px;
  }

  .experience-card-back .titleback {
    left: 60px;
    font-size: 22px;
  }

  .experience-card-back h3 {
    left: 111px;
    top: 232px;
  }

  .experience-card-back .link-container {
    left: -45px;
    top: 430px;
  }
}

@media screen and (max-width: 599px) {
  .experience-card-wrapper:hover .experience-card {
    transform: translateY(0);
    background-color: #3b4353;
  }

  .experience-card-bottom {
    padding: 65px 15px 20px 15px;
  }

  .companyback.ohmyfood {
    align-self: center;
  }

  .companyback.booki {
    left: 129px;
  }


  .backcontent-container.kasa .link-container,
  .backcontent-container.booki .link-container {
    top: 393px;
    left: -93px;
  }

  .backcontent-container.booki .link-container {
    top: 393px;
  }

  .backcontent-container.ohmyfood ul {
    top: 300px !important;
    left: 78px;
    font-size: 14px;
  }

  .backcontent-container.ohmyfood h3 {
    left: 155px;
  }

  .backcontent-container.kasa ul {
    top: 300px;
  }

  .backcontent-container.ohmyfood .link-container {
    top: 406px;
    left: -93px;
  }

  .experience-card-back .titleback {
    left: 60px;
    font-size: 22px;
  }

  .experience-card-back h3 {
    left: 111px;
    top: 232px;
  }

  .experience-card-back .link-container {
    left: -45px;
    top: 430px;
  }
}

@media screen and (max-width: 430px) {
  .companyback.ohmyfood {
    left: 102px;
  }

  .companyback.kasa {
    left: 159px;
  }

  .companyback.booki {
    left: 147px;
  }

  .backcontent-container.kasa .link-container {
    left: -84px
  }

  .backcontent-container.ohmyfood .link-container {
    top: 397px;
    left: -84px;
  }

  .experience-card-back .booki h3 {
    left: 123px;
  }

  .experience-card-back .ohmyfood h3 {
    left: 140px
  }

  .backcontent-container.booki .link-container {
    top: 397px;
    left: -84px;
  }

  .experience-card-back .booki ul {
    font-size: 14px;
    top: 301px;

  }

  .experience-card-back .kasa ul {
    font-size: 14px;
  }
}

@media screen and (max-width: 375px) {
  .experience-card-wrapper:hover .experience-card {
    transform: translateY(0);
    background-color: #3b4353;
  }

  .experience-card-bottom {
    padding: 65px 15px 20px 15px;
  }

  .companyback.ohmyfood {
    left: 91px;
  }

  .experience-card-back .kasa h3 {
    left: 82px;
  }

  .backcontent-container.kasa .link-container {
    top: 393px;
    left: -66px;
  }

  .backcontent-container.booki .link-container {
    top: 425px;
    left: -69px;
  }

  .backcontent-container.ohmyfood ul {
    top: 300px !important;
    left: 12px;
    font-size: 14px;
    padding: initial;
  }

  .backcontent-container.ohmyfood h3 {
    left: 126px;
  }

  .backcontent-container.kasa ul {
    top: 300px;
    font-size: 14px;
    left: 11px;
    margin: initial;
    padding: initial;
  }

  .companyback.kasa {
    left: 135px;
  }

  .backcontent-container.ohmyfood .link-container {
    top: 406px;
    left: -71px;
  }

  .experience-card-back .titleback {
    left: 28px;
    font-size: 22px;
  }

  .experience-card-back h3 {
    left: 104px;
    top: 232px;
  }

  .experience-card-back .link-container {
    left: -45px;
    top: 430px;
  }

  .experience-card-back .booki ul {
    font-size: 14px;
  }
}


@media screen and (max-width: 375px) {
  .companyback.booki {
    left: 125px;
  }
}

@media screen and (max-width: 280px) {
  .companyback.booki {
    left: 115px;
  }

  .companyback.kasa {
    left: 122px;
  }

  .companyback.ohmyfood {
    left: 77px;
  }

  .experience-card-back .titleback {
    left: 12px;
  }

  .backcontent-container.ohmyfood h3 {
    left: 107px;
  }

  .backcontent-container.kasa h3 {
    left: 67px;
  }

  .backcontent-container.booki h3 {
    left: 90px;
  }

  .backcontent-container.ohmyfood ul {
    right: 35px;
    font-size: 13px;
  }

  .backcontent-container.kasa ul {
    right: 35px;
    font-size: 13px;
  }

  .backcontent-container.booki ul {
    font-size: 13px;
    left: 10px;
  }

  .backcontent-container.ohmyfood .link-container {
    left: -50px;
  }

  .backcontent-container.kasa .link-container {
    left: -50px;
  }

  .backcontent-container.booki .link-container {
    left: -50px;
  }

  .experience-card-bottom {
    padding-bottom: 25px;
  }
}